/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: white;
	font-family: 'Spartan', sans-serif;
}

/* 2. Content ================================= */

.container{
	// @include mixins.bp-medium{
	// 	display: flex;
	// 	flex-wrap: wrap;
	// }
	.container_flex_top{
		@include mixins.bp-medium{
			display: flex;
		}
		
		header{
			background-image: url(/src/img/Bitmap.png);
			background-size: cover;
			background-repeat: no-repeat;
			width: 100vw;
			height: 50vh;
			font-weight: bold;
			color: white;
			display: flex;
			justify-content: space-evenly;
			margin: 0 auto;
			@include mixins.bp-medium{
				background-image: url(/src/img/main_image.png);
				height: 65vh;
				width: 170vw;
			}
			.header_section{
				display: flex;
				flex-direction: row-reverse;
				margin-right: auto;
				// position: relative;
				padding: 20px;
				margin-top: 25px;
				@include mixins.bp-medium{
					flex-direction: row;
				}
				
				>h1{
					font-size: 30px;
					margin-left: 8rem;
					@include mixins.bp-medium{
						margin-left: 4rem;
					}
					
				}
				>nav{
					display: none;
					@include mixins.bp-medium{
						display: block;
						margin-left:50px ;
					}
					>ul{
					display: flex;
					flex-direction: row;
					font-weight: 600;
					font-size: 12px;
					
					
					>li{
						margin:10px;
						@include mixins.bp-medium{
							margin-left: 4rem;
						}
						a{
							text-decoration: none;
							list-style-type: none;
							color: black;
							@include mixins.bp-medium{
								color: white;
							}
							&:hover{
								color: rgb(189, 166, 219);
								border-bottom: 1px solid rgb(189, 166, 219);
								transition: color 0.3s ease; 
							}
						}
					}
					}
				}
				.toggle{
					display:flex;
					flex-direction: column; 
					padding: 6px;
					cursor: pointer;
					@include mixins.bp-medium{
						display: none;
					}
					>div{
						
						background-color: white;
						width: 25px;
						height: 2px;
						margin: 2px;
						transition: all .4s ease;
						transform-origin:0 0; 
					}
				}
				.coolTog{
					display: block;
					background-color: white;
					width: 100%;
					color:black;
				}
			}
			
		}
		.arrows{
			background-color: black;
			display:flex;
			flex-direction: row;
			height: 10vh;
			width:15vh;
			margin-left: auto;
			margin-top:-10vh ;

			
			
			@include mixins.bp-medium{
				margin-top: 55vh;
				height: 10vh;
				width:40vh;
			}

		
			// .arrow_left{
			// 	transform: rotate(-180deg);
			// 	width: 30px;
			// 	margin: auto;
			// 	flex-grow: .5;
			// 	&:hover{
			// 		color: rgb(189, 166, 219);
					
			// 		transition: color 0.3s ease; 
			// 	}
				
	
			// }
			// .arrow_right{
			// 	margin: auto;
			// 	width: 30px;
			// 	flex-grow: .5;
				
			// }
			
			.arrows_left{
				display: flex;
				flex-direction: column;
				margin: auto;
				margin-right: 1px;
				background-color: black;
				&:hover{
					color: #A0A0A0;;
					// margin: 20px;
					
				}
				
				>div{
					background-color: white;
					width: 15px;
					height: 2px;
					margin: 4px;
					
					
				}
				.left_skew_down{
					transform: rotate(-45deg);
				}
				.left_skew_up{
					transform: rotate(45deg);
				}
	
			}
			.arrows_right{
				display: flex;
				flex-direction: column;
				margin: auto;
				.arrows_right:hover .right_skew_down,
				.arrows_right:hover .right_skew_up {
					color: blue;
}
				>div{
					background-color: white;
					width: 15px;
					height: 2px;
					margin: 4px;
				}
				.right_skew_down{
					transform: rotate(45deg);
				}
				.right_skew_up{
					transform: rotate(-45deg);
				}
			}
		}
		.content_main{
			margin: 60px 30px 60px 30px;
			@include mixins.bp-medium{
				margin: auto 10px ;
			}
			
			>h2{
				font-size: 30px;
			}
			>p{
				color:#A0A0A0;
				font-size: 12px;
				line-height: 20px;
				margin-top:15px;
				margin-bottom: 50px;;
			}
			.learn{
				display: flex;
				flex-direction: row;
				&:hover{
					color: rgb(189, 166, 219);
					transition: color 0.3s ease; 
				}
				
				>p{
					text-transform: uppercase;
					letter-spacing: 10px;
					font-size: 13px;
				}
				.learn_arrow{
					display: flex;
					margin-left:20px;
					&:hover{
						color: rgb(189, 166, 219);
						transition: color 0.3s ease; 
					}
					.learn_arrow_long{
					background-color: black;
					width: 50px;
					height: 1px;
					margin: 4px;
					
					
					}
					.learn_arrow_head{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					// background-color: black;
					width: 15px;
					// height: 2px;
					margin: 1px;
				
						.learn_arrow_top{
							background-color: black;
							height: 1px;
							transform: rotate(45deg);
						}
						.learn_arrow_bottom{
							background-color: black;
							height: 1px;
							transform: rotate(-45deg);
						}
						
					}
				}
			}
		}
	}
	.container_flex_bottom{
		overflow: hidden;
		@include mixins.bp-medium{
			display: flex;
			// height: 50vh;
		}
		.image_one{
			background-image: url(/src/img/image_one.png);
			background-size: cover;
			background-repeat: no-repeat;
			object-fit: fill;
			width: 100vw;
			height: 40vh;
			&:hover{
				background-color: rgb(193, 193, 243);
				background-blend-mode: multiply;
				transition: ease-in-out .3s;
			}
			@include mixins.bp-medium{
				height: 35vh;
			}
		}
		.image_two{
			background-image: url(/src/img/image_two.png);
			background-size: cover;
			background-repeat: no-repeat;
			object-fit: fill;
			width: 100vw;
			height: 40vh;
			
			&:hover{
				// transform: scale(1.1);
				background-color: rgb(160, 160, 177);
				background-blend-mode: multiply;
				transition: ease-in-out .3s;
				// transform-origin: 50% 50% 50% 50%;
			}
			@include mixins.bp-medium{
				height: 35vh;
			}
		}
		.content_second{
			margin: 60px 30px 60px 30px;
			
			@include mixins.bp-medium{
				margin: auto 30px 90px;
			}
			>h3{
				font-size: 13px;
				text-transform: uppercase;
				letter-spacing: 7px;
			}
			>p{
				color:#A0A0A0;
				font-size: 12px;
				line-height: 20px;
				margin-top:15px;
				margin-bottom: 50px;
				
			}
		
		}
	
	}
}